flows_anarchy.json
[{"id":"e4e965c7.bbc568","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb28b39b.bc881","type":"mqtt-broker","name":"","broker":"mqtt.ci-ciad.utbm.fr","port":"1883","clientid":"wolfo-node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf7d893a.6dddc8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2bf883b9.b07ae4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f0742b64.5c6e48","type":"ui_group","name":"Charts","tab":"cf7d893a.6dddc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b27665e0.8ad0b8","type":"ui_group","name":"Instant Info","tab":"cf7d893a.6dddc8","order":2,"disp":true,"width":"8","collapse":false},{"id":"8b958cff.5d72a8","type":"ui_group","name":"Override","tab":"cf7d893a.6dddc8","order":3,"disp":true,"width":"4","collapse":true},{"id":"50372230.e8abac","type":"mqtt in","z":"e4e965c7.bbc568","name":"","topic":"wolfo/out","qos":"2","datatype":"utf8","broker":"fb28b39b.bc881","x":140,"y":300,"wires":[["27ccbbc8.c3c664","53664c88.f5e34c"]]},{"id":"27ccbbc8.c3c664","type":"function","z":"e4e965c7.bbc568","name":"Parse update","func":"let match = /\\[UPDATE:([\\d\\.]+):([\\d\\.]+):([\\d\\.]+):([\\d\\.]+)\\]/.exec(msg.payload.trim());\n\n// console.log(match, msg.payload.trim());\n\nconst TOPICS = [\n    \"population\",\n    \"arrival_rate\",\n    \"average_population\",\n    \"time_spent\"\n];\n\nif (match !== null) {\n    return match.slice(1).map((x, i) => ({payload: +x, topic: TOPICS[i]}));\n} else {\n    return;\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":350,"y":300,"wires":[["d869f92f.8f1a28","e401647d.1f99d","b1e71aed.3bbc5"],["ac4e7f05.bdd788","323a8e14.c4aca2"],["b50be818.39d86","ef094e56.9bc0f8"],["c1ee527a.c157c","936b6000.d659f8"]]},{"id":"d869f92f.8f1a28","type":"ui_chart","z":"e4e965c7.bbc568","name":"Current population","group":"f0742b64.5c6e48","order":0,"width":0,"height":0,"label":"Current population","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"25","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b41f6b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":590,"y":280,"wires":[[]]},{"id":"ac4e7f05.bdd788","type":"ui_chart","z":"e4e965c7.bbc568","name":"Arrival rate","group":"f0742b64.5c6e48","order":2,"width":0,"height":0,"label":"Arrival rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":570,"y":360,"wires":[[]]},{"id":"c1ee527a.c157c","type":"ui_chart","z":"e4e965c7.bbc568","name":"Average time spent","group":"f0742b64.5c6e48","order":3,"width":0,"height":0,"label":"Average time spent","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b4811f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":590,"y":400,"wires":[[]]},{"id":"b50be818.39d86","type":"ui_chart","z":"e4e965c7.bbc568","name":"Average population","group":"f0742b64.5c6e48","order":1,"width":0,"height":0,"label":"Average population","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2b5673","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":590,"y":320,"wires":[[]]},{"id":"e401647d.1f99d","type":"ui_gauge","z":"e4e965c7.bbc568","name":"Current population (gauge)","group":"b27665e0.8ad0b8","order":4,"width":"4","height":"4","gtype":"donut","title":"Current population","label":"humans","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"5","x":620,"y":500,"wires":[]},{"id":"ef094e56.9bc0f8","type":"ui_gauge","z":"e4e965c7.bbc568","name":"Average population (gauge)","group":"b27665e0.8ad0b8","order":4,"width":"4","height":"4","gtype":"donut","title":"Average population","label":"humans","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"5","x":620,"y":540,"wires":[]},{"id":"323a8e14.c4aca2","type":"ui_gauge","z":"e4e965c7.bbc568","name":"Arrival rate (gauge)","group":"b27665e0.8ad0b8","order":2,"width":"8","height":"8","gtype":"gage","title":"Arrival rate","label":"people/min","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":580,"wires":[]},{"id":"936b6000.d659f8","type":"ui_gauge","z":"e4e965c7.bbc568","name":"Average time spent (gauge)","group":"b27665e0.8ad0b8","order":2,"width":"4","height":"4","gtype":"donut","title":"Average time spent","label":"seconds","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"500","x":620,"y":620,"wires":[]},{"id":"e82e7dc4.e3aee","type":"ui_button","z":"e4e965c7.bbc568","name":"","group":"8b958cff.5d72a8","order":4,"width":0,"height":0,"passthru":false,"label":"Set population","tooltip":"Press to override the current population","color":"","bgcolor":"","icon":"","payload":"send","payloadType":"str","topic":"send","x":140,"y":120,"wires":[["8bfd492f.036ea"]]},{"id":"457590fc.128a48","type":"ui_numeric","z":"e4e965c7.bbc568","name":"","label":"Population","tooltip":"","group":"8b958cff.5d72a8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"population","format":"{{value}}","min":0,"max":10,"step":1,"x":130,"y":60,"wires":[["8bfd492f.036ea"]]},{"id":"8bfd492f.036ea","type":"function","z":"e4e965c7.bbc568","name":"Population hold-off","func":"if (msg.topic === \"population\") {\n    this.stored_population = +msg.payload;\n}\n\nif (msg.topic === \"send\") {\n    return {payload: `POP:${this.stored_population}`, topic: \"population\"};\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nthis.stored_population = 0;","finalize":"","x":370,"y":80,"wires":[["3165e9df.4af186","b591d4ae.dd955"]]},{"id":"3165e9df.4af186","type":"mqtt out","z":"e4e965c7.bbc568","name":"","topic":"wolfo/set","qos":"","retain":"","broker":"fb28b39b.bc881","x":1000,"y":100,"wires":[]},{"id":"53664c88.f5e34c","type":"function","z":"e4e965c7.bbc568","name":"Parse query","func":"let match = /^\\[QUERY\\]$/.exec(msg.payload.trim());\n\nif (match) {\n    return {payload: \"query\", topic: \"query\"};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":140,"wires":[["b591d4ae.dd955"]]},{"id":"b591d4ae.dd955","type":"function","z":"e4e965c7.bbc568","name":"Values hold-off","func":"if (msg.topic === \"population\") {\n    this.stored_population = +msg.payload;\n}\n\nif (msg.topic === \"query\") {\n    return {\n        payload: `POP:${this.stored_population}`\n    };\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nthis.stored_population = 0;","finalize":"","x":800,"y":160,"wires":[["3165e9df.4af186"]]},{"id":"b1e71aed.3bbc5","type":"delay","z":"e4e965c7.bbc568","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":220,"wires":[["b591d4ae.dd955"]]}]